.btn-pink,.badge-pink,.navbar,.btn-pinkcerah{
    background-color: #4d2e07 !important;
    color: #fff;
}

.btn-pink:hover{
    color: #fff;
}

.btn-pinkcerah:hover{
    background-color: #944300 !important;
    color: #fff;
}
.btn-pinksemu{
    background-color: #903b0d !important;
    color: #fff;
}

.btn-pinksemu:hover{
    background-color: #903b0d !important;
    color: #fff;
}
.plusminus{
    background-color: #a38ef6 !important;
    color: #fff;
    height: 20px;
    width: 20px;
}

.produk {
    max-height: 450px;
}
.cart {
    max-height: 340px;
}


.overflow-auto::-webkit-scrollbar {
    width: 20px;
  }
  .overflow-auto::-webkit-scrollbar-track {
    background-color: transparent;
  }
  .overflow-auto::-webkit-scrollbar-thumb {
    background-color: #a38ef6;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
  }

  .overflow-auto::-webkit-scrollbar-thumb:hover {
    background-color: #8f9df4;
  }
    


/* 
@media only screen and (max-height :1000px){
    .hasil{
      height: 500px;
    }
    .menu{
      height: 800px;
    }
  }
    
  .overflow-auto::-webkit-scrollbar{
    display:none;
  } */